@use "variables.scss" as v;
@import "mixins";

.cart {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-container {
        height: auto;
        width: 100%;
        padding: 20px;
        margin: 50px 0;
        border-radius: 15px;
        min-width: 350px;
        box-sizing: border-box;
        &-content {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 40px;
            &-products {
                height: auto;
                width: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: v.$body-color;
                border-radius: 20px;
                padding: 5px;
                div {
                    p {
                        text-align: center;
                    }
                }
                &-dropdown {
                    width: 100%;
                    max-width: 200px;
                    padding: 10px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    background-color: #f9f9f9;
                    color: #333;
                    appearance: none;
                    outline: none;
                    transition: border-color 0.3s ease, box-shadow 0.3s ease;
                  
                    &:hover {
                      border-color: #999;
                    }
                  
                    &:focus {
                      border-color: #666;
                      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    }
                  }
                  .sizes,
                  .colors {
                    height: 30px;
                    font-size: 0.9rem;
                    color: #6c757d;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                  }
              
                &-checkout {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    max-width: 100%;
                    background-color: v.$body-color;
                    padding: 10px;
                    border-radius: 15px;
                    button {
                        border: none;
                        background-color: transparent;
                        border-radius: 20px;
                        transition: ease-in-out 0.2s;
                        font-family: v.$text-font;
                        font-size: 1rem;
                        width: auto;
                        height: 40px;
                    }
                    button:hover {
                        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
                        background-color: v.$text-color;
                    }
                }
            }
        }
    }
}
