@use "variables.scss" as v;
@import "mixins";

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &-title {
        font-family: v.$title-font;
        color: v.$text-color;
        font-size: 3rem;
        text-align: center;
    }
    &-text {
        font-family: v.$text-font;
        color: v.$text-color;
        font-size: 1.3rem;
        margin: 0;
    }
}