@use "variables.scss" as v;
@use "header.scss";
@use "hero.scss";
@use "section.scss";
@use "footer.scss";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
    background-color: v.$body-color;
    margin: 0;
}
.content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}