@use "variables.scss" as v;
@use "header.scss";
@use "hero.scss";
@use "section.scss";
@use "footer.scss";
@use "sortiment.scss";
@use "product.scss";
@use "checkout.scss";
@use "popup.scss";
@use "contact.scss";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
    background-color: v.$background;
    margin: 0;
}

.block {
    height: 100px;
    width: 100%;
    border-radius: 40px;
    position: relative;
    top: 50px;
    background-color: v.$body-color;
}